audioread
deepspeech
Flask
gunicorn
itsdangerous
Jinja2
lazy-object-proxy
librosa
MarkupSafe
matplotlib
numpy
requests
scipy
SoundFile==0.10.3.post1
soupsieve
SpeechRecognition
urllib3
Wave
wavio
Werkzeug
sndfile