<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Speech Recorder</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='Style.css')}}" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
  </head>
  <body>
    <header>
      <h1 class = "text-danger">Speech Recorder</h1>
    </header>
    <main>
      <div class = "container">
        <h3 class = "text-center" id = "hide" style = "display:none"> Processing Text....</h3>
        <textarea class = "w-100" id = "displayText" style = "height : 300px">

        </textarea>
      </div>
      <div class="controls">
        <button type="button" class = "btn btn-primary btn-lg mt-3" id="mic">Get Microphone</button>
        <button type="button" class = "btn btn-primary btn-lg mt-3" id="record" hidden>Record</button>
      </div>
      <ul id="recordings"></ul>
    </main>
    <script>
      function processing(output) {
        if(output) {
        document.getElementById("hide").style.display = "none";
        } else {
          document.getElementById("hide").style.display = "block";
        }
        
      }
      window.addEventListener('DOMContentLoaded', () => {
        const getMic = document.getElementById('mic');
        const recordButton = document.getElementById('record');
        if ('MediaRecorder' in window) {
          getMic.addEventListener('click', async () => {
            getMic.setAttribute('hidden', 'hidden');
            try {
              const stream = await navigator.mediaDevices.getUserMedia({
                audio: true,
                video: false
              });
              const mimeType = 'audio/wav';
              let chunks = [];
              const recorder = new MediaRecorder(stream, { type: mimeType });
              recorder.addEventListener('dataavailable', event => {
                if (typeof event.data === 'undefined') return;
                if (event.data.size === 0) return;
                chunks.push(event.data);
              });
              recorder.addEventListener('stop', () => {
                const recording = new Blob(chunks, {
                  type: mimeType
                });
                renderRecording(recording);
                chunks = []
              });
              recordButton.removeAttribute('hidden');
              recordButton.addEventListener('click', () => {
                if (recorder.state === 'inactive') {
                  recorder.start();
                  recordButton.innerText = 'Stop';
                } else {
                  recorder.stop();
                  recordButton.innerText = 'Record';
                  document.getElementById("hide").style.display = "block";
                }
              });
            } catch {
              renderError(
                'You denied access to the microphone so enable it and reload the page to work.'
              );
            }
          });
        } else {
          renderError(
            "Sorry, your browser doesn't support this application."
          );
        }
      });

      function renderError(message) {
        const main = document.querySelector('main');
        main.innerHTML = `<div class="error"><p>${message}</p></div>`;
      }

      function renderRecording(blob) {
        var xhr = new XMLHttpRequest();
        var data = new FormData();
        data.append("audio_data",blob);
        xhr.open("POST","/start",true);
        xhr.send(data);
        xhr.onload = function(e) {
            if(this.readyState === 4) {
                console.log("Server returned: ",e.target.responseText);
                const output = e.target.responseText+". ";
                document.getElementById("hide").style.display = "none";
                document.getElementById("displayText").value = document.getElementById("displayText").value + output;
            }
            
        };
      }
    </script>
  </body>
</html>